.config{
    display: flex;
    flex-direction: column;
  }

 .config-textarea {
     resize: vertical; 
     max-width: 50vw;
     min-height: 50vh;
     max-height: 100vh;
     margin: 15px;
 } 


  
  